.userInfoContainer {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.userDetails {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center items horizontally */ /* Adjust the right margin of the details container as needed */
}

.link {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.userAva {
  margin-right: 5px;
  color: white; /* Adjust the right margin of the Avatar as needed */
}
.userLink {
  color: white; /* Adjust the right margin of the Avatar as needed */
}

/* Add any other styling for userLink, or other elements */


/* Add any other styling for userAva, userLink, or other elements */


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: rem(56px);
  backdrop-filter: blur(5px);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  z-index: 1000; /* Set a high z-index to make sure it's above other elements */
}

.inner {
  height: rem(56px);
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: white;
  font-size: var(--mantine-font-size-sm);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.linkLabel {
  margin-right: rem(5px);
}

.logo {
  margin-right: rem(10px); /* Adjust the value to your preference */
}

.burger {
  /* Optional: You can use margin-left to create space between the burger and menu items */
  /* margin-left: rem(10px); */
}

.menuItem {
  color: var(--mantine-color-dark-4);
}

.dropdown {
  /* Customize the styles for the dropdown here */
  background-color: white;
  border: 1px solid var(--mantine-color-gray-3);
  /* Add any other styles as needed */
}